
    <%- include("../../partials/header") %>
        <main class="d-flex align-items-center min-vh-100 py-3 py-md-0 mt-5">
            <div class="container ">
                <div class="card news-card">
                    <div class="row no-gutters">
        
                        <div class="col-md-10 offset-md-1">
                            <div class="card-body">
        
                                <h3 style="text-align: center;">Update Detail</h3>
                                <h3 style="text-align: center;">Andhar Pardesh</h3>
                            <form action="/andhrapardeshcropdetail/<%=foundData._id%>?_method=PATCH" method="POST">
                                    <div class="form-group">
                                        <label for="name">product Name</label>
                                    <input type="text" id="name" placeholder="" class="form-control" value="<%=foundData.product%>" name="cropdetail[product]" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="msp">quantity(In Quintal)</label>
                                        <input type="number" id="name" placeholder="quantity" class="form-control" value="<%=foundData.quantity%>" name="cropdetail[quantity]"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="Increament">Increament(In Quintal)</label>
                                        <input type="number" id="name" value="<%=foundData.increase%>" class="form-control" name="cropdetail[increase]">
                                    </div>
                                    <button type="submit" class="login-button">Submit</button>
                                </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </main>
    
        <%- include("../../partials/footer") %>