<%=cropDetail.product%>
<%- include("../../partials/header") %>
   <div class=" mt-5">
       <div class="row">
       
           <div class="col-md-3" style="background-color: rgb(238, 236, 232);">
                <%- include("../../partials/cropSideBar") %>
           </div>
        <div class="col-md-9"  style="background-color: rgb(179, 177, 174);">
            <%if(currentUser.role.includes('admin')){%>
                <a href="/andhrapardeshcropdetail/new" class="btn btn-success text-center m-5">Add crop detail for Andhar
                    Pardesh</a>
                <%}%>
        <table class="table" style="text-align:center;">
            <thead>
                <tr>
                    <th scope="col">product Name</th>
                    <th scope="col">quantity(In Quintal)</th>
                    <th scope="col">Increase (In Quintal)</th>
                    <%if(currentUser.role.includes('admin')){%>
                        <th scope="col">action</th>
                        <%}%>
        
            </thead>
            <tbody>
                <%cropDetail.forEach(crop=>{%>
                    <tr>
        
                        <td>
                            <%=crop.product%>
                        </td>
                        <td>
                            <%=crop.quantity%>
                        </td>
                        <td>
                            <%=crop.increase%>
                        </td>
                        <%if(currentUser.role.includes('admin')){%>
                            <td>
                                <a class="btn btn-xs btn-warning" href="/andhrapardeshcropdetail/<%=crop._id %>/edit">update
                                    detail</a> //
                                <form id="delete-form" style="display: inline-block;"
                                    action="/andhrapardeshcropdetail/<%=crop._id %>/delete?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">Delete </button>
                                </form>
                            </td>
                            <%}%>
                    </tr>
                    <%})%>
            </tbody>
        </table>
        </div>
       </div>
   </div>
    
    <%- include("../../partials/footer") %>