<%- include("../../partials/header") %>
    <h1>edit detail and prodcut</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/punjabcropdetail/<%=foundData._id%>?_method=PATCH" method="POST">
            <div>
                <label for="name">product</label>
                <input type="text" id="name" placeholder="" value="<%=foundData.product%>" name="cropdetail[product]" required>
            </div>

            <div>
                <label for="msp">MSP</label>
                <input type="number" id="name" placeholder="quantity" value="<%=foundData.quantity%>" name="cropdetail[quantity]" required>
            </div>
            <div>
                <label for="msp">Increament</label>
                <input type="number" id="name" value="<%=foundData._increase%>" name="cropdetail[increase]" >
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    </div>

    <%- include("../../partials/footer") %>