<%- include('../partials/header.ejs') %>

        
       
   
    <div class="container">
        <%if(!expert.length){%>
            no expert found
            <%}else{%>
                <% expert.forEach(function(expert) { %>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="thumbnail">
                                <img class="img-responsive" src="data:image/<%=expert.img.contentType%>;base64,
					<%=expert.img.data.toString('base64')%>">
                                <div class="caption-full">
                                    <h4 class="pull-right">
                                        <% if (expert.rating===0) { %>
                                            <em>No reviews yet.</em>
                                            <% } else { %>
                                                <p>
                                                    <span class="fa fa-star checked"></span>
                                                    <span
                                                        class="fa fa-star <% if (expert.rating > 1.5) { %> checked <% } %>"></span>
                                                    <span
                                                        class="fa fa-star <% if (expert.rating > 2.5) { %> checked <% } %>"></span>
                                                    <span
                                                        class="fa fa-star <% if (expert.rating > 3.5) { %> checked <% } %>"></span>
                                                    <span
                                                        class="fa fa-star <% if (expert.rating > 4.5) { %> checked <% } %>"></span>
                                                </p>
                                                <%}%>

                                    </h4>
                                    <h4><a href="/users/follow/<%= expert.author.id%>"><button class="btn btn-primary">Follow</button></a></h4>
                                    <h4><a>
                                            <%=expert.name%>
                                        </a></h4>
                                    <p>
                                        <%= expert.description %>
                                    </p>
                                    <%if(currentUser.role.includes('admin')){%>


                                        <a class="btn btn-xs btn-warning"
                                            href="/experts/<%= expert._id %>/edit">Edit</a>
                                        <form id="delete-form" style="display: inline-block;"
                                            action="/experts/<%= expert._id %>/delete?_method=DELETE" method="POST">
                                            <button class="btn btn-xs btn-danger">Delete</button>
                                        </form>
                                        <%}%>

                                            <div style="margin-top: 10px;">
                                                <a class="btn btn-default" href="/AllIndia"><i
                                                        class="fa fa-arrow-left"></i> Go
                                                    back</a>
                                            </div>
                                </div>
                            </div>
                        </div>
                        <!--Review section-->
                        <div class="col-md-6">
                            <div class="thumbnail">
                                <div class="caption-full">
                                    <% if (expert.rating===0) { %>
                                        <h5>
                                            <em>No reviews yet.</em>
                                        </h5>
                                        <% } else { %>
                                            <p>
                                                <span class="fa fa-star checked"></span>
                                                <span
                                                    class="fa fa-star <% if (expert.rating > 1.5) { %> checked <% } %>"></span>
                                                <span
                                                    class="fa fa-star <% if (expert.rating > 2.5) { %> checked <% } %>"></span>
                                                <span
                                                    class="fa fa-star <% if (expert.rating > 3.5) { %> checked <% } %>"></span>
                                                <span
                                                    class="fa fa-star <% if (expert.rating > 4.5) { %> checked <% } %>"></span>
                                                <em>(total reviews: <%= expert.reviews.length %>)</em>
                                            </p>
                                            <p>
                                                Current expert rating: <strong>
                                                    <%= expert.rating.toFixed(2) %>
                                                </strong>
                                            </p>
                                            <p>
                                            <h4>Latest reviews for this Expert:</h4>
                                            </p>
                                            <hr style="margin-top: 0;">

                                            <% expert.reviews.slice(0, 2).forEach(function(review){ %>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <%- '<span class="fa fa-star checked"></span>'
                                                            .repeat(review.rating) %>
                                                            <%- '<span class="fa fa-star"></span>' .repeat(5 -
                                                                review.rating) %>
                                                                <div>Review by: <strong>
                                                                        <%= review.author.username %>
                                                                    </strong></div>
                                                                <span><em>
                                                                        <%= review.updatedAt.toDateString() %>
                                                                    </em></span>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <p style="text-align: justify; word-wrap: break-word;">
                                                            <%= review.text %>
                                                        </p>
                                                        <% if(currentUser && review.author.id.equals(currentUser._id)){
                                                            %>
                                                            <a class="btn btn-xs btn-warning"
                                                                href="/experts/<%=expert._id %>/reviews/<%=review._id %>/edit">Edit</a>
                                                            <form id="delete-form" style="display: inline-block;"
                                                                action="/experts/<%=expert._id %>/reviews/<%=review._id %>?_method=DELETE"
                                                                method="POST">
                                                                <input type="submit" class="btn btn-xs btn-danger"
                                                                    value="Delete">
                                                            </form>
                                                            <% } %>
                                                    </div>
                                                </div>
                                                <hr>
                                                <% }); %>
                                                    <div style="margin-bottom: 10px;">
                                                        <h4><a href="/experts/<%= expert._id %>/reviews"><i
                                                                    class="fa fa-search" aria-hidden="true"></i> See all
                                                                reviews</a>
                                                        </h4>
                                                    </div>
                                                    <% } %>
                                                        <div>
                                                            <a class="btn btn-primary btn-lg <% if (currentUser && expert.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>"
                                                                href="/experts/<%= expert._id %>/reviews/new">
                                                                Write a New Review</a>
                                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="float-right">
                                    <% if(currentUser){ %>
                                        <a class="btn btn-xs btn-warning"
                                            href="/experts/<%=expert._id %>/qustion/new">Add qustion</a>
                                        <% } %>
                                </h4>

                                <%expert.qustion.filter((qus)=>{%>
                                    <%if(qus.author.username===currentUser.name){%>

                                        <h2>qustion</h2>
                                        <p>
                                            <%=qus.text%>
                                        </p>
                                                <%qus.answer.forEach(ans=>{%>
                                                    <h2>Anwer</h2>
                                                    <%=ans.text%>
                                                        <%})%>
                                                            <%}%>
                                                                <%})%>
                            </div>
                        </div>
                    </div>

    </div>

    <% }) %>
        </div>
        <%}%>

            <%- include('../partials/footer.ejs') %>