<%- include("../partials/header") %>

    <div class="container " >
        <div class="row" >
            <div class="col-md-12" style="margin-top: 70px;">
                <h1 style="text-align: center">Review For: <%= expert.name %>
                </h1>
               
                <div class="thumbnail">
                    <div class="caption-full">
                        <% if (expert.rating===0) { %>
                            <h5>
                                <em>No reviews yet.</em>
                            </h5>
                            <% } else { %>
                                <p>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star <% if (expert.rating > 1.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (expert.rating > 2.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (expert.rating > 3.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (expert.rating > 4.5) { %> checked <% } %>"></span>
                                    <em>(total reviews: <%= expert.reviews.length %>)</em>
                                </p>
                                <p>
                                    Current Expert rating: <strong>
                                        <%= expert.rating.toFixed(2) %>
                                    </strong>
                                </p>
                                <p>
                                <h4>All reviews for this Expert:</h4>
                                </p>
                                <hr style="margin-top: 0;">
                                <% expert.reviews.forEach(function(review){ %>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <%- '<span class="fa fa-star checked"></span>' .repeat(review.rating) %>
                                                <!-- <%- '<span class="fa fa-star"></span>' .repeat(5 - review.rating) %> -->
                                                    <div>Review by: <strong>
                                                            <%= review.author.username %>
                                                        </strong></div>
                                                    <span><em>
                                                            <%= review.updatedAt.toDateString() %>
                                                        </em></span>
                                        </div>
                                        <div class="col-md-9">
                                            <p style="text-align: justify; word-wrap: break-word;">
                                                <%= review.text %>
                                            </p>
                                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                                                <a class="btn btn-xs btn-warning ml-2" 
                                                    href="/experts/<%=expert._id %>/reviews/<%=review._id %>/edit" style="display:inline-block;">Edit</a>
                                                <form id="delete-form"
                                                    action="/experts/<%=expert._id %>/reviews/<%=review._id %>?_method=DELETE"
                                                    method="POST">
                                                    <button type="submit" class="btn  btn-danger mt-2" value="Delete">Delete</button>
                                                </form>
                                                <% } %>
                                        </div>
                                    </div>
                                    <hr>
                                    <% }); %>
                                        <% } %>
                                            <div>
                                                <a class="btn btn-primary <% if (currentUser && expert.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>"
                                                    href="/experts/<%= expert._id %>/reviews/new">
                                                    Write a New Review</a>
                                            </div>
                                            <div style="margin-top: 10px;">
                                                <a class="btn btn-default" href="/experts/showexpert %>"><i
                                                        class="fa fa-arrow-left"></i> Go back</a>
                                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Review section-->
    </div>
    <%- include("../partials/footer") %>